<%= simple_form_for(@clasificacione, :html => { :class => 'form-horizontal', remote: true } ) do |f| %>
  <% if @clasificacione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clasificacione.errors.count, "error") %> prohibited this clasificacione from being saved:</h2>

      <ul>
      <% @clasificacione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Tipo de tela</label><br>
    <%= f.collection_select :tiposTela_id, TiposTela.all, :id, :nombre, class: "form-control", prompt: "Seleccione tipo de tela" %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :descripcion %><br>
    <%= f.text_field :descripcion %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar" , class: "btn btn-success" %>
  </div>
<% end %>
