<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @clasificacione.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @clasificacione.descripcion %>
</p>

<%= link_to 'Editar', edit_clasificacione_path(@clasificacione) %> |
<%= link_to 'Atras', clasificaciones_path %>
