 <tr>
        <td><%= proveedore.nombre %></td>
        <td><%= proveedore.telefono %></td>
        <td><%= proveedore.direccion %></td>
        <td><%= proveedore.correo %></td>
        <td>
          <div class="btn-group">
            <a href="#"> </a>
            <ul class="list-inline">
              <li><%= link_to '<button class="btn btn-success"><i class="fa fa-eye neg"></i> Ver</button>'.html_safe, proveedore, remote: true  %></li>
              <li> <%= link_to '<button class="btn btn-primary"> <i class="fa fa-wrench neg"></i> Editar</button>'.html_safe, edit_proveedore_path(proveedore), remote: true  %></li>
              <li> <%= link_to '<button class="btn btn-danger"><i class="fa fa-times neg"></i> Eliminar</button>'.html_safe, proveedore, method: :delete, data: { confirm: 'Estas segur@?' }, remote: true %></li>
            </ul>
          </div>
        </td>
      </tr>