<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proveedore.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @proveedore.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @proveedore.direccion %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @proveedore.correo %>
</p>

<%= link_to 'Editar', edit_proveedore_path(@proveedore) %> |
<%= link_to 'Atras', proveedores_path %>
