<%= render 'layouts/messages' %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Tipos de telas</h3>
  </div>
  <div class="panel-body">
    <%= form_tag import_tipos_telas_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "Importar" %>
	<% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Acabados</h3>
  </div>
  <div class="panel-body">
    <%= form_tag import_acabados_path, multipart: true do %>
	  <%= file_field_tag :file %>
	  <%= submit_tag "Importar" %>
	<% end %>
  </div>
</div>