<div class="consof">
  <%= render "clasificaciones/usuario" %>
  <%= render "usos/usuario" %>
  <%= render "acabados/usuario" %>
  <%= render "bases_telas/usuario" %>
  <%= render "proveedores/usuario" %>
</div>