<%= render 'layouts/messages' %>
<% if current_user.role_id == 1 %>
<center>
  <div class="bani slideDown">
  <h1 class="banih">Usos</h1>
  <%= image_tag("banner.jpg", class: "banii slideDown") %>
  <p class="banip slideDown"><br>Estos son los usos finales que se le pueden dar a las telas en sofcartej.</p>
</div>
<div class="convi2">
  <%= form_tag usos_path, :method => 'get' do %>
    <% content_tag :label do %>
      Buscar por nombre:
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Buscar", :name => nil %>
    <% end %>
  <% end %>
<div class="conpa">
  <span class="label gran"><%= will_paginate @usos, :previous_label => '<span class="label label-success gran">← Anterior</span>'.html_safe, :next_label => '<span class="label label-success gran">Siguiente →</span>'.html_safe %></span>
</div>
  <div class="conta2"><span class="label label-default gran">Usos: <%= @usos.count %></span></div>
</div>
<div class="peque">
<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th class="cen">Uso</th>
      <% if current_user.role_id == 1 %>
      <th colspan="2"  class="cen">Opciones</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @usos %>
  </tbody>
</table>
</div>

<br>
<% if current_user.role_id == 1 %>
<%= button_to 'Nuevo Uso', new_uso_path, class: "btn btn-success btn-lg", :method => "get", remote: true %>
<% end %>
</center>
<% else %>
<center>
    <div class="fadeIn derror">
    <%= image_tag ("error.png"), class: "img-rounded", height: '40', width: '40' %>
     <h1>Acceso denegado.</h1>
     <small>Por favor contáctese con el administrador.</small>
    </div>
  </center>
<% end %>