<h1>Referencias Comerciales</h1>

<table class="table table-hover table-heading">
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @referencias_comerciales.each do |referencias_comerciale| %>
      <tr>
        <td><%= referencias_comerciale.nombre %></td>
        <td><%= button_to 'Ver', referencias_comerciale , class: "btn btn-success", :method => "get"%></td>
        <td><%= button_to 'Editar', edit_referencias_comerciale_path(referencias_comerciale), class: "btn btn-primary", :method => "get" %></td>
        <td><%= button_to 'Eliminar', referencias_comerciale, method: :delete, data: { confirm: 'Estas segur@?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Nueva referencia comercial', new_referencias_comerciale_path, class: "btn btn-success btn-lg", :method => "get" %>
