<div class="tela">
	<p>
 <strong>Nombre:</strong>
 <%= @tela.nombre %>
</p>
<p>
 <strong>Tipo de tela:</strong>
 <%= @tela.basesTela.clasificacione.tiposTela.nombre %>
</p>
<p>
 <strong>Base:</strong>
 <%= @tela.basesTela.nombre %>
</p>

<p>
 <strong>Proveedor:</strong>
 <%= @tela.proveedore.nombre %>
</p>

<p>
 <strong>Composicion:</strong>
 <%= @tela.composicion %>
</p>

<p>
 <strong>Ancho total:</strong>
 <%= @tela.anchoOrillo %>
</p>

<p>
 <strong>Uso final:</strong>
 <%= @tela.uso.nombre %>
</p>

<p>
 <strong>Acabado:</strong>
 <%= @tela.acabado.nombre %>
</p>

<p>
 <strong>Referencia comercial:</strong>
 <%= @tela.tejido %>
</p>

<p>
 <strong>Nombre comercial:</strong>
 <%= @tela.nombrecomercial %>
</p>

<p>
 <strong>Peso:</strong>
 <%= @tela.peso %>
</p>

<p>
 <strong>Unidad de peso:</strong>
 <%= @tela.pesoUnidad %>
</p>
<p>
 <strong>Hilos x pulgada:</strong>
 <%= @tela.hilosxpulgada %>
</p>

	<strong>Creado/Modificado por:</strong> <%= @tela.datos %>
</div>