<div class="tela">
 <p>
  <strong>Nombre:</strong>
  <%= @tela.nombre.capitalize %>
 </p>
 
 <p>
  <strong>Tipo de tela:</strong>
  <%= @tela.basesTela.clasificacione.tiposTela.nombre.capitalize %>
 </p>
 <p>
  <strong>Clasificacion:</strong>
  <%= @tela.basesTela.clasificacione.nombre.capitalize %>
 </p>
 <p>
  <strong>Base:</strong>
  <%= @tela.basesTela.nombre.capitalize %>
 </p>
 
 <p>
  <strong>Proveedor:</strong>
  <%= @tela.proveedore.nombre.capitalize %>
 </p>
 
 <p>
  <strong>Composicion:</strong>
  <%= @tela.composicion.capitalize %>
 </p>
 
 <p>
  <strong>Ancho:</strong>
  <%= @tela.anchoOrillo.capitalize %>
 </p>
 
 <p>
  <strong>Uso final:</strong>
  <%= @tela.uso.nombre.capitalize %>
 </p>
 
 <p>
  <strong>Acabado:</strong>
  <%= @tela.acabado.nombre.capitalize %>
 </p>
 
 <p>
  <strong>Referencia comercial:</strong>
  <%= @tela.tejido.capitalize %>
 </p>
 
 <p>
  <strong>Nombre comercial:</strong>
  <%= @tela.nombrecomercial.capitalize %>
 </p>
 
 <p>
  <strong>Peso:</strong>
  <%= @tela.peso.capitalize %>
 </p>
 
 <p>
  <strong>Unidad de peso:</strong>
  <%= @tela.pesoUnidad.capitalize %>
 </p>
 <p>
  <strong>Hilos x pulgada:</strong>
  <%= @tela.hilosxpulgada.capitalize %>
 </p>
 
 <strong>Creado/Modificado por:</strong> <%= @tela.datos %>
</div>