<div class="tela">
	<p>
 <strong>Nombre:</strong>
 <%= @tela.nombre %>
</p>
<p>
 <strong>Tipo de tela:</strong>
 <%= @tela.tiposTela.nombre %>
</p>
<p>
 <strong>Base:</strong>
 <%= @tela.basesTela.nombre %>
</p>

<p>
 <strong>Proveedor:</strong>
 <%= @tela.proveedore.nombre %>
</p>

<p>
 <strong>Referencia comercial:</strong>
 <%= @tela.referenciasComerciale.nombre %>
</p>

<p>
 <strong>Composicion:</strong>
 <%= @tela.composicion %>
</p>

<p>
 <strong>Ancho de orillo:</strong>
 <%= @tela.anchoOrillo %>
</p>

<p>
 <strong>Uso:</strong>
 <%= @tela.uso.nombre %>
</p>

<p>
 <strong>Acabado:</strong>
 <%= @tela.acabado.nombre %>
</p>

<p>
 <strong>Peso:</strong>
 <%= @tela.peso %>
</p>

<p>
 <strong>Peso x unidad:</strong>
 <%= @tela.pesoUnidad %>
</p>
	<strong>Creado/Modificado por:</strong> <%= @tela.datos %>
</div>