<%= render 'layouts/messages' %>
<center>
<div class="bani">
  <h1 class="banih">Características</h1>
  <%= image_tag("banner.jpg", class: "banii") %>
  <div class="conp"><p>En esta página se muestran a continuación todas las diferentes telas que se encuentran registradas actualmente en la aplicación.
  Cada tela tiene sus respectivos atributos; para encontrar facilmente una, utilizar el buscador.</p></div>
</div>
</center>
<% if current_user.role_id == 1 %>
<%= button_to 'Nueva tela', new_tela_path, class: "btn btn-success btn-lg", :method => "get", remote: true  %>
<% end %>
<span class="label label-default gran">Hay: <%= @telas.count %> telas.</span>

<center>
<div class="tbusca">
<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
  <div class="field">
  Buscar: 
    <%= c.attribute_fields do |a| %>
      <%= a.attribute_select associations: [:uso, :acabado, :proveedore, :basesTela, :tiposTela] %>
    <% end %>
    Que: 
    <%= c.predicate_select :only => [:cont, :cont_any, :cont_all] %>
    <%= c.value_fields do |v| %>
      <%= v.text_field :value %>
    <% end %>
    </div>
  <% end %>
  <%= f.submit "Buscar", class: "btn btn-default" %>
<% end %>

</div><br>
<%#
<div class="linkex">
  <strong class="txt-success"><a><%= link_to "Descargar tabla en ", telas_path(format: "xls") %><%#</a></strong>
  
  <%#= link_to image_tag("excel.png", :size => "20x20"), telas_path(format: "xls"), class: 'btn btn-default' %>
<%#</div>%>

<br>
<div class="con cen">
<table class="table table-hover table-heading table-striped">
  <thead>
    <tr>
      <th class="cen">Código</th>
      <th class="cen">Nombre</th>
      <th class="cen">Tipo de tela</th>
      <th class="cen">Base</th>
      <th class="cen">Composición</th>
      <th class="cen">Uso Final</th>
      <th class="cen">Acabado</th>
      <th class="cen">Peso</th>
      <% if current_user.role_id == 1 %>
      <th class="cen">Colores y mas</th>
      <% end %>
      <th class="cen">Ficha tecnica</th>
      <% if current_user.role_id == 1 %>
      <th class="cen" colspan="2">Opciones</th>
      <% else %>
      <th class="cen" colspan="2">Fotos</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @telas %>
  </tbody>
</table>
</div>
<br>

</center>