<%= render 'layouts/messages' %>
<center><h1>Características</h1>
</center>
<% if current_user.role_id == 1 %>
<%= button_to 'Nueva tela', new_tela_path, class: "btn btn-success btn-lg", :method => "get", remote: true  %>
<% end %>
<center>
<div class="tbusca">
<%#= form_tag telas_path, :method => 'get' do %>
  <%# content_tag :label do 
    Buscar por Nombre, Composición, Peso o Código:
    <%= collection_select(:uso,:uso_id,@usos, :id, :nombre, prompt: "Seleccione uso")%> 
    <%#= text_field_tag :search, params[:search]%>
    <%#= submit_tag "Buscar", :name => nil %>
 <%#<% end %>
<%#<% end %>

<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %>
  <div class="field">
  Buscar: 
    <%= c.attribute_fields do |a| %>
      <%= a.attribute_select associations: [:uso, :acabado, :proveedore, :basesTela, :tiposTela] %>
    <% end %>
    Que: 
    <%= c.predicate_select :only => [:cont, :cont_any, :cont_all] %>
    <%= c.value_fields do |v| %>
      <%= v.text_field :value %>
    <% end %>
    </div>
  <% end %>
  <%= f.submit "Buscar", class: "btn btn-default" %>
<% end %>

</div><br>
<%#
<div class="contenipagi">
  <div class="pagi">
  <span class="label gran"><%= will_paginate @telas, :previous_label => '<span class="label label-success gran">← Anterior</span>'.html_safe, :next_label => '<span class="label label-success gran">Siguiente →</span>'.html_safe %><%#</span>
  </div>
  <div class="conta"><span class="label label-default gran">Telas: <%= @telas.count %><%#</span></div>
</div>%>
<br>
<div class="con cen">
<table class="table table-hover table-heading table-striped">
  <thead>
    <tr>
      <th class="cen">Código</th>
      <th class="cen">Nombre</th>
      <th class="cen">Tipo de tela</th>
      <th class="cen">Base</th>
      <th class="cen">Composición</th>
      <th class="cen">Uso Final</th>
      <th class="cen">Acabado</th>
      <th class="cen">Peso</th>
      <th class="cen">Ficha tecnica</th>
      <% if current_user.role_id == 1 %>
      <th class="cen" colspan="2">Opciones</th>
      <% else %>
      <th class="cen" colspan="2">Fotos</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @telas %>
  </tbody>
</table>
</div>
<br>

</center>