<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tela.nombre %>
</p>

<p>
  <strong>Tipostela:</strong>
  <%= @tela.tiposTela.nombre %>
</p>

<p>
  <strong>Basestela:</strong>
  <%= @tela.basesTela.nombre %>
</p>

<p>
  <strong>Proveedore:</strong>
  <%= @tela.proveedore.nombre %>
</p>

<p>
  <strong>Referenciascomerciale:</strong>
  <%= @tela.referenciasComerciale.nombre %>
</p>

<p>
  <strong>Composicion:</strong>
  <%= @tela.composicion %>
</p>

<p>
  <strong>Anchoorillo:</strong>
  <%= @tela.anchoOrillo %>
</p>

<p>
  <strong>Uso:</strong>
  <%= @tela.uso.nombre %>
</p>

<p>
  <strong>Acabado:</strong>
  <%= @tela.acabado.nombre %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @tela.peso %>
</p>

<p>
  <strong>Pesounidad:</strong>
  <%= @tela.pesoUnidad %>
</p>

<%#= video_tag(@tela.document.url, height: '200', width: '300', controls: true, autobuffer: true) %>


<%= link_to 'Editar', edit_tela_path(@tela) %> |
<%= link_to 'Atras', telas_path %>
