<%= simple_form_for(@acabado, :html => { :class => 'form-horizontal', remote: true } ) do |f| %>
  <% if @acabado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acabado.errors.count, "error") %> prohibited this acabado from being saved:</h2>

      <ul>
      <% @acabado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar", class: "btn btn-success" %>
  </div>
<% end %>
