<%= render 'layouts/messages' %>
<h1></h1><br>
<center>
<div class="bani">
  <h1 class="banih">Im치genes</h1>
  <%= image_tag("banner.jpg", class: "banii") %>
  <p class="banip"><br>En esta p치gina se muestran a continuaci칩n todas las im치genes de la tela <b><%= @tela.codigo %></b>.</p>
</div>
</center>
<div class="conim">

    <%= render @images %>
</div>
<br>

<div class="btn-group">
  <a href="#"> </a>
  <ul class="list-inline">
    <li><%= button_to 'Atras', telas_path, class: "btn btn-default", :method => "get" %></li>
    <% if current_user.role_id == 1 %>
    <li><%= button_to 'Nueva Imagen', new_tela_image_path(@tela), class: "btn btn-success", :method => "get", remote: true %> </li>  
    <% end %>
  </ul>
</div
